  <div class="form-container">
    <h1>Create New Pin</h1>

    <form method="POST" action="/pins/create">
      <div class="form-group">
        <label for="Pin_URL"><span class="glyphicon glyphicon glyphicon-globe"></span></label>
        <input type="url" name="pinurl" placeholder="URL"><br>
      </div>
      <div class="form-group">
        <label for="Title"><span class="glyphicon glyphicon-pushpin"></span></label>
        <input type="text" name="title" placeholder="Title"><br>
      </div>
      <div class="form-group">
        <label for="Description"><span class="glyphicon glyphicon-paperclip"></span></label>
        <input type="textarea" name="description" placeholder="Description"><br>
      </div>      
      <input type="submit" value="Create New Pin" class="btn btn-default">

    </form>
  </div>