  <div class="form-container">
    <h1>New Pin</h1>

    <form method="POST" action="/pins/create">
      <div class="form-group">
        <label for="Pin_URL"><span class="glyphicon glyphicon glyphicon-globe"></span></label>
        <input type="url" name="pinurl" placeholder="URL" required><br>
      </div>
      <div class="form-group">
        <label for="Title"><span class="glyphicon glyphicon-pushpin"></span></label>
        <input type="text" name="title" placeholder="Title" required><br>
      </div>
      <div class="form-group">
        <label for="Description"><span class="glyphicon glyphicon-paperclip"></span></label>
        <input type="textarea" name="description" placeholder="Description"><br>
      </div>   
      <div class="form-group">
        <label for="Pin_Img"><span class="glyphicon glyphicon glyphicon-picture"></span></label>
        <input type="url" name="pinimg" placeholder="Image URL"><br>
      </div>         
      <div class="form-group">
        <label for="Board"><span class="glyphicon glyphicon glyphicon-folder-open"></span></label>
        <input type="integer" name="board_id" placeholder="Board"><br>
      </div>  
      <input type="submit" value="Create" class="btn btn-default">

    </form>
  </div>