
  <div class="form-container">
    <h1>Sign Up!</h1>

    <form method="POST" action="/signup">
      <hr>
      <div class="form-group">
        <label for="name"><span class="glyphicon glyphicon-user"></span></label>
        <input type="text" name="username" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="Email"><span class="glyphicon glyphicon-envelope"></span></label>
        <input type="email" name="email" placeholder="E-Mail"><br>
      </div>
      <div class="form-group">
        <label for="Password"><span class="glyphicon glyphicon-lock"></span></label>
        <input type="password" name="password" placeholder="Create a Password"><br>
      </div>
      <input type="submit" value="Signup" class="btn btn-default">

    </form>
  </div>